* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(148, 35, 129);
    min-height: 100vh;
    background: linear-gradient(180deg, #581358 0%, #420034 25%, #0a000c 100%);
    display: flex;
    flex-direction: column;
    position: relative;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 40px 20px;
    flex-wrap: wrap;
}

.nav-button {
    background-color: rgba(85, 10, 104, 0.63);
    color: rgb(148, 35, 129);
    text-decoration: none;
    padding: 10px;
    border-radius: 50px;
    font-size: 1.2rem;
    font-weight: 500;
    transition: all 0.3 ease;
    box-shadow: 0 4px 15px rgba(85, 10, 104, 0.63);
    min-width: 150px;
    text-align: center;
}


.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.profile-image {
    margin-top: 40px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    box-shadow: 0 8px 30px rgba(197, 51, 112, 0.63);
    transition: transform 0.9 ease;
}

.profile-name {
    text-shadow: 0 4px 15px rgba(132, 20, 160, 0.63);
}

.about-me {
    margin-left: 50px;
    margin-right: 50px;
    font-size: 1.1rem;
    text-shadow: 0 4px 15px rgba(132, 20, 160, 0.63);
}

.contacts {
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
    text-shadow: 0 4px 15px rgba(132, 20, 160, 0.63);
}

.portfolio-section {
    margin: 25px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.portfolio-item {
    background-color: rgba(85, 10, 104, 0.63);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 6px 30px rgba(197, 51, 112, 0.63);
    width: 65%;
    text-align: center;
    transition: transform 0.3s ease;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #0a000c;
    text-align: center;
    padding: 10px;
}